.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
}

.flex-container li {
  width: 96px;
  height: 120px;
  margin-top: 10px;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  position: relative;
  border:  solid 5px #2f3036;
  background: transparent;
}

.flex-container li.small {
  padding: 2px;
  width: 90px;
  margin-top: 10px;
  line-height: 30px;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  border: solid #2f3036 2px;
}

.flex-container li.team {
  width: 250px;
  height: 120px;
  margin-top: 10px;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  position: relative;
  border:  solid 5px #2f3036;
  background: transparent;
}

.flex-container li.small input{
  width: 50px;
  background-color: #19c589;
}

.flex-container li.small button {
  width: 100%;
  height: 100%;
  margin: 0;
  background: none;
  color: inherit;
  }
.flex-container li.small p {
  display: inline;
  padding: 1px;
  border:  solid 1px;
  float: left;
  }

.flex-container li.active {
  color: white;
  background: #2f3036;
  border: none;
}

.flex-container li .name {
  font-size: 1em;
  position: absolute;
  bottom: 0;
  left: 2px;
}

.flex-container li .controller {
  font-size: 1em;
  position: absolute;
  top: 0;
  left: 2px;
}

.flex-container li .score{
  font-size: 3em;
  line-height: 100px;
}

.flex-container.dark{
  background: black;
  color: white;
}

#banner {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:center;
  vertical-align: middle;
  margin-bottom: 40px;
}

#banner.stage0 .box {
  background: #AA4465;
}

#banner.stage1 .box {
  background: #fff;
  color: black;
}

#banner.stage2 .box {
  background: #151414;
  color: white;
  font-weight: bolder;
}

#banner.stage2 .active-choice {
  border: solid 5px black;
  font-size: 200%;
  border-width: 9px;
  border-style: solid;
  border-image-source: linear-gradient(to left, #93e1d8, #AA4465);
  border-image-slice: 1;
}

#banner.stage2 ul {
  list-style: none;
}

#banner.stage3 .box {
  background: #27ccb1;
}

#banner.stage2 .box.questionOption0,
#banner.stage2 .box.questionOption1,
#banner.stage2 .box.questionOption2,
#banner.stage2 .box.questionOption3,
#banner.stage2 .box.questionOption4,
#banner.stage2 .box.questionOption5,
#banner.stage2 .box.questionOption6,
#banner.stage2 .box.questionOption7
{
  background: white;
  color: black;
}

#banner.stage1 .box .box-contents,#banner.stage2 .box .box-contents, #banner.stage3 .box .box-contents {
  flex-direction: column;
}

#banner.stage3 p {
  margin-block: unset;
}

.questionOption0 audio, .questionOption1 audio, .questionOption2 audio, .questionOption3 audio, .questionOption4 audio, .questionOption5 audio, .questionOption6 audio,  .questionOption7 audio,
.questionOption0 #question-map, .questionOption1 #question-map, .questionOption2 #question-map, .questionOption3 #question-map, .questionOption4 #question-map, .questionOption5 #question-map, .questionOption6 #question-map,  .questionOption7 #question-map
{
   display: none;
}

#question-map {
  position: relative;
  height: 400px;
  margin: 0;
  padding: 0;
  width: 50%;
}

#question-map img, #question-map p {
  display: inline;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#question-map img {
  height: 100%;
  top: 0;
  left: 0;
}

#question-map p {
  padding: 5px;
  background: transparent;
  color: red;
  border: solid 2px red;
}

/*Animated Big Box*/

.box{
  background-color: #DDFFF7;
  position: relative;
  box-shadow: 10px 10px 42px 0 rgba(0,0,0,0.75);
  vertical-align: middle;
  text-align: center;
  font-weight: bolder;
}

.box:after, .box:before{
  mix-blend-mode:multiply;
  filter:none;
  z-index: -1;
  content:'';
  width:calc(100% + (50px * 2));
  height:calc(100% + (50px * 2));
  position: absolute;
  display: block;
  animation: border 10s ease-in-out infinite;
  transform:translateX(-50px) translateY(-50px);
}

.box-contents{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 300px;
  min-width: 800px;
  padding: 30px;
}

@keyframes border {
  0%, 100% {
    -webkit-clip-path: polygon(0 0, calc(100% - (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 100%, calc(0% + (33.3333333333px)) calc(100% - (33.3333333333px)));
            clip-path: polygon(0 0, calc(100% - (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 100%, calc(0% + (33.3333333333px)) calc(100% - (33.3333333333px)));
  }
  50% {
    -webkit-clip-path: polygon(calc(0% + (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 0, calc(100% - (33.3333333333px)) calc(100% - (33.3333333333px)), 0 100%);
            clip-path: polygon(calc(0% + (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 0, calc(100% - (33.3333333333px)) calc(100% - (33.3333333333px)), 0 100%);
  }
}

.box:after{
  animation-delay: -5s;
  background-color: #93e1d8;
  clip-path: polygon(0 0, calc(100% - (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 100%, calc(0% + (33.3333333333px)) calc(100% - (33.3333333333px)));
  height:calc(40% + (10px * 2));
}
.box:before {
  background-color: #AA4465;
    clip-path: polygon(calc(0% + (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 0, calc(100% - (33.3333333333px)) calc(100% - (33.3333333333px)), 0 100%);
}

.box h1 {
    font-size: 3rem;
}

.box p {
    font-size: 1rem;
}

.box input, .box input:active {
  border:none;
  color:white;
  outline: none;
}

.box.questionOptionfalse p {
  font-size: 2.5rem;
}

#banner .box.questionOptionfalse .box-contents {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

#banner .box.questionOptionfalse .box-contents div {
  display: flex;
  flex-basis: 90%;
  flex: 1;
}

.stage2 .box h1, .stage3 .box h1 {
  border:  solid 5px;
  padding: 5px;
}

.box .start {
  color:white;
  background:transparent;
  width: 150px;
  height: 100%;
  position: absolute;
  right: 0;
  border: none;
  font-size: 30px;
}

.box .start:hover, .box .test:focus {
  background:rgba(0,0,0,.5);
}

.box .start:active {
  background:rgba(0,0,0,1);
}

.box .test {
  color:white;
  background:transparent;
  line-height: 50px;
  width: 150px;
  height: 100%;
  position: absolute;
  left: 0;
  text-align: center;
  font-size: 30px;
}

#timer {
  position: fixed;
  top: 0px;
  left: 0px;
  color: white;
  font-weight: bolder;
  padding: 1px;
  border: none;
  font-size: 45px;
  width: 100%;
  height: 100%;
  background: none;
  text-align: center;
  z-index: -10;
  vertical-align: middle;
}

#timer .timer-progress {
  text-align: left;
    background: linear-gradient(-45deg, #AA4465, #e73c7e, #AA4465, #27ccb1,#27ccb1,#AA4465);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    border: solid 4px rgba(0,0,0,.1);
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }

}

#skip{
  background: rgba(0,0,0,.5);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border: none;
}

.answered0, .answered1, .answered2, .answered3, .answered4, .answered5, .answered6, .answered7, .answered8, .answered9 {
  border-style: solid;
  border-width: 1px;
  width: 50px;
  margin: 5px;
  height: 100px;
}

.answered0 {
  border-color: silver;
  color: silver;
}

.answered1 {
  border-color: gray;
  color: gray;
}

.answered2 {
  border-color: hotpink;
  color: hotpink;
}

.answered3 {
  border-color: limegreen;
  color: limegreen;
}

.answered4 {
  border-color: green;
  color: green;
}

.answered5 {
  border-color: navy;
  color: navy;
}

.answered6 {
  border-color: purple;
  color: purple;
}

.answered7 {
  border-color: orange;
  color: orange;
}

.answered8 {
  background: white;
  color: black;
  border-color: black;
}

.answered9 {
  border-color: powderblue;
  color: powderblue;
}

.answered span:first-child {
  font-size: 30%;
}

.answered span:last-child {
  /**/
}